In [1]:
import pandas as pd

In [31]:
leido=pd.read_csv("boston.csv")

In [32]:
leido

,CRIM,INDUS,ZN,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2310,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7070,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7070,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2180,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2180,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11930,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11930,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11930,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11930,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11930,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [33]:
leido=leido.dropna(subset=["MEDV"]).reset_index()
leido.shape

(452, 15)

In [34]:
X=leido.iloc[:,0:leido.shape[1]-1]
X

,index,CRIM,INDUS,ZN,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0,0.00632,18.0,2310,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,1,0.02731,0.0,7070,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,2,0.02729,0.0,7070,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,3,0.03237,0.0,2180,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,4,0.06905,0.0,2180,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,501,0.06263,0.0,11930,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
448,502,0.04527,0.0,11930,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
449,503,0.06076,0.0,11930,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
450,504,0.10959,0.0,11930,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
451,505,0.04741,0.0,11930,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [35]:
y=leido["MEDV"]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
447    22.4
448    20.6
449    23.9
450    22.0
451    11.9
Name: MEDV, Length: 452, dtype: float64

In [36]:
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()
X=minmax.fit_transform(X)

In [37]:
from sklearn.preprocessing import LabelEncoder
valores=LabelEncoder().fit_transform(y)
valores

array([118,  94, 177, 174, 184, 146, 107, 137,  46,  68,  35,  68,  95,
        83,  61,  78, 109,  55,  81,  61,  23,  75,  37,  31,  40,  25,
        47,  33,  63,  89,  15,  31,  19,  18,  22,  68,  79,  89, 125,
       157, 178, 134, 130, 125,  91,  72,  79,  47,  30,  73,  76,  84,
       127, 112,  68, 181, 125, 162, 111,  75,  66,  42, 100, 127, 170,
       113,  73,  98,  54,  88, 120,  95, 106, 112, 119,  92,  79,  87,
        91,  82, 140, 117, 126, 107, 117, 134, 103, 100, 114, 146, 104,
        98, 107, 127,  85, 143,  92, 192, 200, 172, 138, 133,  65,  72,
        80,  74,  74,  83,  77,  73,  95, 106,  67,  66,  64,  62,  91,
        71,  83,  72,  98,  82,  84,  53,  67,  92,  41,  44,  59,  29,
        71,  75, 108,  63,  40,  60,  54,  51,  20,  58,  26,  30,  21,
        40,   9,  24,  40,  32,  58,  39,  93,  75,  38,  73,  50,  40,
        18, 194, 121, 111, 136, 209, 209, 209, 105, 127, 209, 116, 116,
       101,  54,  70, 109, 114, 104, 149, 110, 124, 152, 188, 193, 184,
       191, 167, 132, 150, 209, 164, 151, 178, 187, 155, 185, 159, 148,
       209, 173, 154, 176, 178, 169, 119, 196, 207, 209, 104, 122, 103,
       122,  79,  95,  72, 102, 141, 115, 127, 111, 146,  93, 108, 135,
        95, 138, 153, 202, 209, 190, 162, 205, 161, 121, 163, 195, 206,
       147, 118, 128, 161, 115, 111,  98,  80, 100, 115,  56,  64, 121,
        84, 123, 131, 122, 126, 150, 197,  97,  88, 201, 209, 182, 153,
       175, 198, 208, 158, 186, 106, 156, 209, 199,  86,  90, 129, 122,
       180, 166, 164, 172, 171, 148, 179, 203, 181, 204, 209, 165,  98,
        80, 110, 101, 126, 144, 189, 139, 117,  95, 145, 137,  82, 103,
       147, 126,  98, 132, 171, 183, 143, 174, 142, 106,  82,  43,  99,
        73,  94, 116,  44,  58,  77, 109,  89, 116, 109,  83,  64, 127,
       124, 108, 100,  72, 104,  77,  51,  73, 100,  86,  90,  74,  64,
        85,  69,  66, 168,  46, 117, 160,  55,  52, 109, 123, 134, 107,
       119,  65, 153,  61,  85,  58,  95, 105, 104, 127,  78,  87,  49,
        97, 138,  97, 209, 209, 209, 209, 209,  20,   6,  12,   7,  36,
       110,  24,  18,  13,   3,   0,  11,  52,  28,  21,   8,   5,   4,
        31,  43,  29,  16,  51,  63,  39,  34,  14,  27,  17,  21,  37,
        43,  58,  34,  27,  15,  22,  34,  79,  45,  57,  74,  81,  92,
        78,  69,  70,  78,  75, 110, 151,  24,  20,  48, 108, 115, 127,
        96,  85,  91,  70,  85,  37,   1,   2,  23,  80,  96, 123, 109,
        76,  62,  91,  55,  49, 102,  85, 117,  98,  10], dtype=int64)

In [38]:
from sklearn.model_selection import StratifiedKFold
from sklearn.linear_model import SGDRegressor
skf=StratifiedKFold(n_splits=10)

In [39]:
resultados=pd.DataFrame(columns=["fold","R2","aciertos"])

In [53]:
#FSAR
k=1
for train_index,test_index in skf.split(X,valores):
    error=pd.DataFrame(columns=["original","prediccion","error","error relativo"])
    sgd=SGDRegressor(max_iter=1000)
    sgd.fit(X[train_index],y[train_index])
    predecido=sgd.predict(X[test_index])
    puntuacion=sgd.score(X[test_index],y[test_index])

   
    error["original"]=y[test_index]
    error["prediccion"]=predecido
    error["error"]=abs(error["original"]-error["prediccion"])
    error["error relativo"]=(error["error"]/error["original"])*100
    contador=0
    for h in range(len(error)):
        valor=error.iloc[h]["error relativo"]
        if(valor<15):
            contador+=1
    porcentaje=(contador/len(error))*100
    resultados.loc[k]=[k,puntuacion,porcentaje]
    k+=1

c:\Users\jmlozanoo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

In [54]:
resultados

    fold        R2   aciertos
1    1.0  0.821442  71.739130
2    2.0  0.759412  65.217391
3    3.0  0.575028  66.666667
4    4.0  0.799761  55.555556
5    5.0  0.854209  62.222222
6    6.0  0.665860  80.000000
7    7.0  0.637072  66.666667
8    8.0  0.728950  64.444444
9    9.0  0.619489  71.111111
10  10.0  0.551855  60.000000