In [1]:
from sklearn.datasets import fetch_openml

In [2]:
X,y=fetch_openml(data_id=1560,return_X_y=True)

c:\Users\jmlozanoo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\datasets\_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [3]:
X

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V26,V27,V28,V29,V30,V31,V32,V33,V34,V35
0,23.0,240.0,357.0,120.0,120.0,0.0,0.0,0.0,73.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,45.0,5.0,632.0,132.0,132.0,4.0,0.0,4.0,17.0,2.1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,45.0,177.0,779.0,133.0,133.0,2.0,0.0,5.0,16.0,2.1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,45.0,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,16.0,2.4,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,45.0,533.0,1147.0,132.0,132.0,4.0,0.0,5.0,16.0,2.4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2121,3.0,2059.0,2867.0,140.0,140.0,0.0,0.0,6.0,79.0,0.2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2122,3.0,1576.0,2867.0,140.0,140.0,1.0,0.0,9.0,78.0,0.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2123,3.0,1576.0,2596.0,140.0,140.0,1.0,0.0,7.0,79.0,0.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2124,3.0,1576.0,3049.0,140.0,140.0,1.0,0.0,9.0,78.0,0.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2125,3.0,2796.0,3415.0,142.0,142.0,1.0,1.0,5.0,74.0,0.4,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
y

0       2
1       1
2       1
3       1
4       1
       ..
2121    2
2122    2
2123    2
2124    2
2125    1
Name: Class, Length: 2126, dtype: category
Categories (3, object): ['1', '2', '3']

In [8]:
import pandas as pd
import numpy as np

In [7]:
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()
X=minmax.fit_transform(X)

In [16]:
resultados=pd.DataFrame(index=range(2,8,2),columns=["entrena","test","tiempo"])
resultados.index.name="neuronas"

In [17]:
resultados

         entrena test tiempo
neuronas
2            NaN  NaN    NaN
4            NaN  NaN    NaN
6            NaN  NaN    NaN

In [20]:
from sklearn.model_selection import StratifiedKFold
skf=StratifiedKFold(n_splits=10)

In [22]:
from sklearn.neural_network import MLPClassifier

In [23]:
import time

In [26]:
for i in resultados.index:
    fold=pd.DataFrame(columns=["entrena","test","tiempo"])
    mlp=MLPClassifier(hidden_layer_sizes=i,max_iter=1000)
    k=0
    for train_index, test_index in skf.split(X,y):
        inicio=time.time()
        mlp.fit(X[train_index],y[train_index])
        fold.loc[k]=[mlp.score(X[train_index],y[train_index]),mlp.score(X[test_index],y[test_index]),time.time()-inicio]
        k+=1
    resultados.loc[i]=[fold.mean()[0],fold.mean()[1],fold.sum()[2]]

In [27]:
resultados

           entrena      test    tiempo
neuronas
2         0.983853  0.976464  8.987557
4         0.983906  0.976931  4.973399
6         0.992056  0.986835  4.080898